<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WebSocket Example</title>
    </head>
    <body>
        <p id="fileData">wer</p>
        <script type="text/javascript">
            (function() {
                var data = document.getElementById("fileData");
                var conn = new WebSocket("{{.domain}}/ws/checkpaid?oid={{.oid}}");
                conn.onclose = function(evt) {
                    data.textContent = 'Connection closed';
                }
                conn.onmessage = function(evt) {
                    console.log('file updated');
                    console.log(evt.data)
                    data.textContent = evt.data;
                }
            })();
        </script>
    </body>
</html>